.example-container {
  width: 100%;
  height: 720px;
  background: linear-gradient(to bottom, rgb(129, 249, 237) 0%, rgb(129, 249, 237) 41%, rgb(248, 248, 248) 41%, rgb(248, 248, 248) 100%);
  
}

.toggle {
  display: flex;
  align-items: left;
  justify-content: left;
}
.example-card {
  height:650px;
  padding-right: 100px;
  padding-left: 100px;
}
.sidenav{
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.example-sidenav {
  background: linear-gradient(to bottom, rgb(129, 249, 237) 0%, rgb(129, 249, 237) 41%, rgb(248, 248, 248) 41%, rgb(248, 248, 248) 100%);
  padding: 18px;
  
  
}
mat-grid-tile {
  background: rgb(255, 255, 255);
}
.quickview{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
   background:transparent;
}
.nextview{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
   background:transparent;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-icon{
  color: white;
  margin-right: 24px;
  
}
.chart{
  max-height:350px;
  width:100%;
}